<div class data-controller="toggle-switch">
  <%= render "shared/toggle_switch" %>
  <div class="container">
    <div class="d-none" id="form" data-toggle-switch-target="mealTag">
      <%= render "shared/meal_form" %>
    </div>
    <div class="" id="form" data-toggle-switch-target="recipeTag">
      <%= render "shared/recipe_form" %>
    </div>
  </div>
</div>
