<div class>
  <div class="radio-inputs w-100 mb-3">
    <label class="radio">
      <input type="radio" name="radio" checked="">
      <span class="name">Restaurant</span>
    </label>
    <label class="radio">
      <input type="radio" name="radio">
      <span class="name">Meal</span>
    </label>
  </div>

  <div class="container">
    <%= render "shared/meal_form" %>
    <%= render "shared/recipe_form" %>
  </div>
</div>
