<div class="container">
  <div class="container d-flex justify-content-center align-items-start">

    <%= cl_image_tag @user.photo.key,  class: "avatar-large" %>
    <h1><%= @user.username %></h1>
  </div>

  <div class="d-flex">
    <button class="recipes-filter">Recipes</button>
    <button class="meals-filter">Meals</button>
  </div>


  <div class="meals d-none">
    <%= render "shared/meal_card" %>
  </div>

  <div id="recipes" class="d-none">
    <%= render "shared/recipe_card" %>
  </div>

</div>
<!--
CARD FEED
-->
