<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bottom-navbar">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h1 id="logo">Foodies</h1>
    <% end %>
  </div>
</div>
