<div class>
  <div class="radio-inputs w-100 mb-3">
    <label class="radio">
      <input type="radio" name="radio" data-action="change->toggle-switch#toggleForm"  data-toggle-switch-target="recipeSwitch">
      <span class="name" >Recipes</span>
    </label>
    <label class="radio">
      <input type="radio" name="radio" data-action="change->toggle-switch#toggleForm" data-toggle-switch-target="mealSwitch">
      <span class="name" >Meals</span>
    </label>
    <% if params[:action] == "search" %>
      <label class="radio">
        <input type="radio" name="radio" data-action="change->toggle-switch#toggleForm" data-toggle-switch-target="userSwitch">
        <span class="name" >Users</span>
      </label>
    <% end %>
  </div>
</div>
