<div class data-controller="toggle-switch">
  <div class="radio-inputs w-100 mb-3">
    <label class="radio">
      <input type="radio" name="radio" data-action="change->toggle-switch#toggleForm" checked="">
      <span class="name" data-toggle-switch-target="recipeSwitch">Recipe</span>
    </label>
    <label class="radio">
      <input type="radio" name="radio" data-action="change->toggle-switch#toggleForm">
      <span class="name" data-toggle-switch-target="mealSwitch">Meal</span>
    </label>
  </div>
<%# DONT CLOSE %>
