<div data-controller="toggle-switch">
  <%= render "shared/toggle_switch" %>
  <% @posts.each do |post| %>
    <%if post.instance_of? Recipe %>
      <div data-toggle-switch-target="recipeTag" class="">
        <%= render "shared/recipe_card", recipe: post %>
      </div>
    <% elsif post.instance_of? Meal %>
      <div data-toggle-switch-target="mealTag" class="d-none">
        <%= render "shared/meal_card", meal: post %>
      </div>
    <% end %>
  <% end %>
</div>
