
<div class="container" data-controller="posts-creator">
  <p>Eat your friends!</p>
  <%= render "shared/toggle_switch" %>
  <% @posts.each do |post| %>
    <%if post.instance_of? Recipe %>
      <div id="recipeCard" data-posts-creator-target="mealTag">
        <%= render "shared/meal_card", recipe: post %>
      </div>
    <% elsif post.instance_of? Meal %>
      <div id="mealCard" data-posts-creator-target="recipeTag">
        <%= render "shared/recipe_card", meal: post %>
      </div>
    <% end %>
  <% end %>
</div>
