.button-filter {
  background-color: teal;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

.unfollow-button {
  background-color: $pink;
  font-weight: bold;
  color: black;
  float: right;
  margin-left: 170px;
}
