.user-box {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  border: 0.5;
  border-color:  rgb(223, 223, 223);
  outline: none;
  background:  #dae4e7;
  border-bottom: 1px solid #fff
  border-radius 5px;
}

.user-box input{
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}
