.gradient {
  background: linear-gradient(to right, $teal, $pink)
}
.card-gradient {
  background: $body-bg;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;



}


.caption-gradient {
  background: linear-gradient(white, $teal);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 1cap;
}
