.navbar-lewagon {
  justify-content: space-between;
  background: $teal;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

#logo {
  font-weight: 900;
  color: pink;
  text-shadow: 2px 2px #9b7a95
}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}
